data/raw/creditcard.csv filter=lfs diff=lfs merge=lfs -text
data/processed/creditcard_cleaned.csv filter=lfs diff=lfs merge=lfs -text
data/processed/creditcard_preprocessed.pkl filter=lfs diff=lfs merge=lfs -text
